
<div class="container">

  <div class="mt-2 mb-3" style = "align-items: baseline;">

    <div class="buttons-phone">
      <p style = "font-size: 14px;"> Filter by bike type: </p>
    </div>


    <div class="buttons-phone mb-4">
       <%= link_to 'All', bikes_path, method: :get, class: 'index-button', style: 'text-decoration: none; font-size: 14px;' %>

    &nbsp; &nbsp;

    <%= link_to 'Mountain', bikes_path(:bike_category => 'Mountain'), method: :get, class: 'index-button', style: 'text-decoration: none; font-size: 14px;' %>

    &nbsp; &nbsp;

    <%= link_to 'City', bikes_path(:bike_category => 'City'), method: :get, class: 'index-button', style: 'text-decoration: none; font-size: 14px;' %>

    &nbsp; &nbsp;

    <div class="break"></div>

    <%= link_to "Children", bikes_path(:bike_category => "Children's"), method: :get, class: 'index-button', style: 'text-decoration: none; font-size: 14px;' %>
    </div>


  </div>


<div class="row row-cols-1 row-cols-md-3 mt-4">


  <% @bikes.each do |bike| %>

  <div class="col mb-4 ">

    <div class="card shadow-sm card-index" style = "border-radius: 10px;">

      <div>
        <%= cl_image_tag bike.photo.key, class: "card-index-img-top", style: "border-top-right-radius: 10px; border-top-left-radius:10px"  %>
      </div>


      <div class="card-body">

        <div class="card-text" style="display:flex; justify-content: space-between;">

        <div>
          <p style="margin-bottom: 0px;"> <%= bike.bike_category %> </p>
          <p style= "color: #767676; font-size: 12px;"> <%= bike.description %> </p>
        </div>

         <div>
        <p> $<%= bike.rate_per_day %> <span style= "color: #767676; font-size: 10px;"> per day </span> </p>
      </div>

      </div>

  </div>
  <div class="card-footer">
    <small class="text-muted">
      <%= link_to 'See more details about this bike', bike_path(bike), style: "text-decoration: none; color: #767676;" %>
    </small>
  </div>

</div>
</div>

<% end %>




</div>
</div>


<!-- <script>

  const element = document.querySelector('#box');

  element.addEventListener("click", (event) => {
    console.log(event);
    event.currentTarget.classList.toggle('clicked');
  })

</script> -->








