
<div class="container mt-2">
  <div class="row">
    <div class="col-6 col-8 col-12">

      <%= link_to bikes_path, style: "text-decoration: none; color: black;" do %>
      <%= image_tag('arrow_back.svg') + " " + ("Back to bikes") %>
      <% end %>

      <div style="display: flex;" class="mt-3">

        <div class="card mb-3 border border-dark shadow" style = "border-radius: 20px; width: 60%;">
          <%= cl_image_tag @bike.photo.key, class: "card-img-top", style: "border-top-right-radius: 20px; border-top-left-radius:20px" %>

          <div class="card-body">
            <p class="card-text"><%= @bike.bike_category %></p>
            <p class="card-text"><%= @bike.frame_size %></p>
            <p class="card-text"><%= @bike.description %></p>
            <p class="card-text"><%= @bike.rate_per_day %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        &nbsp;  &nbsp;  &nbsp;  &nbsp;

        <div class="card mb-3 border border-dark shadow" style ="width: 40%; height: 48vh; border-radius: 20px;">
          <div class="card-body">
            <%= simple_form_for ([@bike, @booking]), html: { id: :booking_form } do |f| %>
            <%= f.input :start_date, as: :date, order: [:day, :month, :year], id: "start" %>
            <%= f.input :end_date, as: :date, order: [:day, :month, :year], id: "end"  %>
            <br>
            <div style="display: flex; justify-content: center; align-items: center;">
              <%= f.submit 'Book bike', { class: "home-button" } %>
            </div>
            <% end %>
            <div id="total"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<script>



  const calculatePrice = () => {


    // let theForm = document.forms['booking_form'];

    let start = new Date (document.getElementbyId('booking_start_date_3i').value);

    console.log(start);

    let end = new Date(document.getElementbyId('booking_end_date_3i').value);

    return price = parseInt(end - start);


  }

  const displayPrice = () => {
    if(document.getElementbyId('booking_end_date_3i')) {
      document.getElementById('total').innerHTML = calculatePrice();
      console.log(calculatePrice());
    }
  }

</script>










