

<div class="container" style = "width: 50vw;">
  <div class="row">
    <div class="col-6 col-8 col-12">
      <div class="card mb-3 border border-dark" style = "border-radius: 20px">
        <%= cl_image_tag @bike.photo.key, class: "card-img-top", style: "border-top-right-radius: 20px; border-top-left-radius:20px" %>

        <div class="card-body">
          <p class="card-text"><%= @bike.bike_category %></p>
          <p class="card-text"><%= @bike.frame_size %></p>
          <p class="card-text"><%= @bike.description %></p>
          <p class="card-text"><%= @bike.rate_per_day %></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>


    </div>
  </div>
</div>






