

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4 text-center">Log in</h2>
      <div class="card card-log-in mt-3 mb-3 border border-dark shadow mx-auto" style ="height: auto; border-radius: 20px;">
        <div class="card-body">

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= f.input :email,
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email" } %>
          <%= f.input :password,
          required: false,
          input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>


          <br>

          <div style="display: flex; justify-content: center; align-items: center;">
            <%= f.button :submit, "Log in", class: "home-button" %>
          </div>
          <% end %>
        </div>
      </div>

      <div style="text-align:center; padding-top: 5px;">
         <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>





